body{
	font-family: montserrat, helvetica;
}

li{
	list-style: none;
	float: right;
	margin-top: 2%;
	padding-right: 5%;
}

.logo{
	float: left;
	font-size: 200%;
	font-family: 'montserrat', helvetica;
}

.logo-2{
	font-family: 'Shadows Into Light', cursive;

}
/* Here is a note */
.navbar{
	height: 90px;
	width: 100%;
	position: fixed;
	margin: 0 0 0 0;
	background-color: #07a8c5;
}
